<html>
<head>
<title>
</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename="api.css")}}" />

</head>

<body>

<div class="header_wrapper">

<img  class='topright' src="{{url_for('static',filename="the.png")}}" align="left" width="150px" height="100px" >


<div id="margin">
 <p  align="middle"> <h1 font-family="Comic Sans MS">Weather Forecasting by Amalgamation Of API<h1></p>

 </div>
 </div>
<div class="mega_content_wrapper">
<div class="content_wrapper">
<img id="lol" src="{{url_for('static',filename="picture1.png")}}" align="right" width="40%" height="40%" >
<div id="lol1">
<h1><strong>Weather Forecast</strong></h1>

<h2>Fast, accurate, reliable</h2>
Free for non-commercial use, no API key required<br>

Easy to integrate, available in JSON, XML, PHP
Weather maps include precipitation, clouds, pressure, temperature, wind, and more <br>

Connect our weather maps to your mobile applications and websites<br>

Available for Free and all other paid accounts<br>



 </div>
</div>
<div id="space">

</div>







<div class="code"><h1 id="lol2"> Json output:-          </h1>
<pre><code id="codeOutput">{
Fetching Location Data
    <span class="key">"query":</span> <span class="string">"116.72.96.156"</span>,
    <span class="key">"lat":</span> <span class="string">"32.0"</span>,
    <span class="key">"lon":</span> <span class="string">"32.0"</span>,
    <span class="key">"country":</span> <span class="string">"Izbat al Burj"</span>,
    <span class="key">"sea_level":</span> <span class="string">"1036.5"</span>,
    <span class="key">"grnd_level":</span> <span class="string">"1036.51"</span>,
    <span class="key">"clouds":</span> <span class="string">"49"</span>,
    <span class="key">"uv":</span> <span class="string">" "</span>,
    <span class="key">"timezone":</span> <span class="number">Africa/Cairo</span>,
    <span class="key">"summary":</span> <span class="number">Mostly Cloudy,overcast clouds,Partly cloudy,Broken clouds</span>
    <span class="key">"precipitation":</span> <span class="string">" "</span>,
    <span class="key">"temperature":</span> <span class="string">"96.759"</span>,
    <span class="key">"dewpoint":</span> <span class="string">"52.75"</span>,
    <span class="key">"humidity":</span> <span class="string">"0.7"</span>,
    <span class="key">"pressure":</span> <span class="boolean">1025.9625</span>,
    <span class="key">"windspeed":</span> <span class="boolean">13.5744225</span>
    <span class="key">"wind_dir":</span> <span class="string">" "</span>,
    <span class="key">"sunset":</span> <span class="string">"14:52"</span>,
    <span class="key">"sunrise":</span> <span class="string">"04:45"</span>,
    <span class="key">"elev_angle":</span> <span class="string">"-13.8285"</span>,
    <span class="key">"vis":</span> <span class="boolean">10.0</span>,
    }</code></pre>
</div>
<div>




  </div>
  
  
  
<div id="lol3">
<h2><strong>Weather Forecast APIs</strong></h2>
API's used :-
   WeatherAPI's:-
Open Weather - Access current weather data for any location on Earth including over 200,000 cities!<br> 
Weatherbit - Access forecasts, current weather, and historical weather data for any point on the Earth! <br>
ApiXU- Real-time or current JSON and XML weather API provides access to near real-time weather information for millions of locations <br>
Dark Sky-Dark Sky is the most accurate source of hyperlocal weather information: with down-to-the-minute forecasts for your exact location<br>

<h1>Other tech used:-</h1>

Python Flask:-Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries.<br>
Django webframework:-Django is a Python-based free and open-source web framework, which follows the model-view-template architectural pattern<br>
HTML5 AND CSS3;;<br>


 </div>
<br>
<div id='credits'>
 © Created By Demon, King ,Priest <br> free for use :) <br>
© Special thanks to Sadale Wong<br>
</div>
</body>
</html>




